<body style=" width: 95%; margin: auto; text-align: center;">
    <h3> Forgot Password </h3>
    <p style="text-align: left;">Hello <%= name %>;</p>
    <p class="class" style="text-align: left;">
      Please use the code below to verify your account. This code is valid for
      30 mins.
    </p>
    <div class="otp-box" style="display: flex; justify-content: center; ">
      <p class="otp" style="margin:auto; background-color: #F5F5F5; padding: 10px 20px; font-weight: 500; font-size: 42px; border-radius: 17px;"> <%= content %></p>
    </div>
    <div class="let-us-know" style="text-align: left;">
      <p>Please if this wasn't you, Please ignore this message or <a href="www.medinfo.vercel.app">let us know</a></p>
    </div>
  </body>
</html>
